$white-color: #FFFFFF;
$white-color_dark: #D9D9D9;
$black-color: #000000;
$black-color_light: #222222;
$gray-color: #555555;
$gray-color_light: #5C5C5C;
$gray-color_dark: #2F3235;
$pink-color: #FF56A1;