@mixin button($width, $height, $border, $color, $background, $border-radius, $font-size, $line-height) {
    @include flex(row, center, center);
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    color: $color;
    background-color: $background;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: $font-size;
    line-height: $line-height;

    transition: ease-in-out 0.2s all;

    &:hover {
        transform: scale(1.05);
    }
}